.idea/
.ipynb_checkpoints
__pycache__
*.crdownload
_build/
.ipynb_checkpoints/
.venv/
generated_image.png
data/
*.db
.storage-service-account.json
.storage-service-account.json.secret
__marimo__
*.pdf
*.docx
input/
output/
.env
storyteller_ai.egg-info/
ai_storyteller.egg-info/
dist/
media/
coreml_sdxl_base_packages/
drawthings_output/
unauthenticated/
